<ion-view title="Car" id="page7">
  <ion-content padding="true" class="has-header">
    <h1 id="car-heading12" style="color:#000000;text-align:center;">Cosas que hacer con coche</h1>
    <ion-list id="car-list2">
      <ion-item id="car-list-item4">Pasar dia conociendo Asturias</ion-item>
      <ion-item id="car-list-item5">ir de ruta</ion-item>
      <ion-item id="car-list-item6">Parque Prin</ion-item>
      <ion-item id="car-list-item7">irse de playa</ion-item>
    </ion-list>
  </ion-content>
</ion-view>