<ion-view title="Menu" id="page2">

  <div ng-show="menuType">
<form id="menuform" class="">
  <ion-content   padding="true" class="has-header">
    <h2 id="menu-heading9" style="color:#000000;font-weight:400; text-align: center; line-height: 100px">Elige Como y donde</h2>
    <div style="margin: 0px; line-height: 100px; text-align: center;">
      <img src="../../img/house.png" style="width: 20%" ng-click="objectform(); selectMap(0)"/>
    </div>
    <div style="margin: 0px; line-height: 100px;  text-align: center;">
     <img src="../../img/car.png" ng-click="objectform(); selectMap(1)" style="width: 20%"/>
    </div>
    <div style="margin: 0px; line-height: 100px; text-align: center;">
      <img src="../../img/other.png" ng-click="objectform(); selectMap(2)" style="width: 20%"/>
    </div>
  </ion-content>
  </form>
  </div>

  <div ng-show="objectType">
  <form id="objectform" class="">
    <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 40px;  text-align: center;">
      <h2 id="menu-heading9" style="color:#000000;font-weight:400; text-align: center; line-height: 100px">{{title}}</h2>
      </div>
      <div style="margin: 0px; line-height: 30px;  text-align: center;">
        <img src="{{picture}}" style="width: 100%;max-width: 350px;"/>
        </div>
      <div>
      <p style="text-align: center">{{description}}</p>
      </div>
        <div style="margin: 0px; line-height: 100px;  text-align: center;">
      <a  id="login-button11" style="font-weight:600;color:#000000;border-radius:10000px 10000px 10000px 10000px;" class="button button-assertive  button-block" ng-click="selectMap(numGuardado)">Siguiente</a>
    
      <a ui-sref="menu" id="login-button11" style="font-weight:600;color:#000000;border-radius:10000px 10000px 10000px 10000px;" class="button button-assertive  button-block " ng-click="menuform()">Menu</a> 
        </div>
    </ion-content>
  </form>
  </div>


</ion-view>