<ion-view title="Other" id="page8">
  <ion-content padding="true" class="has-header">
    <h1 id="other-heading13" style="color:#000000;text-align:center;">Cosas que hacer sin coche</h1>
    <ion-list id="other-list3">
      <ion-item id="other-list-item15">ir a dar una vuelta</ion-item>
      <ion-item id="other-list-item16">cuando esté bueno ir a correr</ion-item>
      <ion-item id="other-list-item17">Tarde normal</ion-item>
      <ion-item id="other-list-item18">cine</ion-item>
    </ion-list>
  </ion-content>
</ion-view>